body {
    background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)), url("logo/arkaplan2.jpg");
    background-size: cover;
    min-height: 100vh; 
    width: 100%;
    margin: 0;
    
}


.navbar {
    background-color: #ff0000b9;
    overflow: hidden;
    width: 80%;
    gap: 1px;  
    display: flex;
    align-items: center;
    margin-left: 10%;
    margin-right: 10%;  
    margin-top: 20px;
    height: 100px;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(255, 0, 0, 0.578), 0 6px 20px 0 rgba(183, 1, 1, 0.721);
}

.logo {
    font-size: 24px;
    font-weight: bold;
    height: 90px;
    width: 100px;
    text-decoration: none;
    margin-right: 150px;
    margin-bottom: 10px;
    margin-left: 10px;
}

.Anasayfa {
    font-size: 20px;
    font-weight: bold;
    height: 100px;
    width: 150px;
    text-decoration: none;
    margin-right: 40px;
    color: black;
    display: flex;
    align-items: center;
    margin-left: -250px;
}

.Bagis_Noktalari {
    font-size: 20px;
    font-weight: bold;
    height: 100px;
    width: 250px;
    text-decoration: none;
    margin-left: -150px;
    color: black;
    display: flex;
    align-items: center;
}

.Profil {
    font-size: 20px;
    font-weight: bold;
    height: 70px;
    width: 70px;
    text-decoration: none;
    margin-right: 10px;
    color: black;
    display: flex;
    align-items: center;
}



.table {
    width: 80%;
    margin-left: 10%;
    margin-top: 5%;
    border-radius: 15px;
    border: none !important;
}

.table th,
.table td {
    border: none;
    padding: 12px 16px;
    vertical-align: middle;
}

.table thead th {
    background-color: rgba(55, 55, 55, 0.501);
    color: #fff;
    border: none;
}

.table tbody td {
    background-color: #73737387;
    color: white;
    border: none;
}

#ekleButton {
    
    margin-left: 84%;
    margin-bottom: -70px;
    background-color: rgba(4, 255, 0, 0.455);
}


