      .bagis-footer {
        background: rgba(122, 122, 122, 0.468);
        backdrop-filter: blur(6px);
        padding: 50px 0 25px 0;
        margin-top: 50px;
        border-top: 3px solid #e63946; 
        font-family: sans-serif;
      }

      .kb-container {
        width: 90%;
        max-width: 1200px;
        margin: auto;
        display: flex;
        justify-content: space-between;
        gap: 30px;
        flex-wrap: wrap;
      }

      .kb-col {
        width: 30%;
        min-width: 250px;
      }

      .kb-col h3 {
        color: black;
        margin-bottom: 15px;
        font-size: 20px;
        font-size: bold;
      }

      .kb-col p,
      .kb-col li {
        color: rgb(35, 35, 35);
        margin: 6px 0;
        font-size: 15px;
        list-style: none;
      }

      .kb-col a {
        text-decoration: none;
        color: #323232;
        transition: 0.2s;
      }

      .kb-col a:hover {
        color: #000000;
      }

      .kb-alt{
        text-align: center;
        padding-top: 15px;
        margin-top: 20px;
        border-top: 1px solid #ccc;
        color: #000000;
        font-size: 14px;
      }